
@media (max-width: 1024px) {
  #sidebar {
    position: absolute;
    height: 100%;
    transform: translateX(-100%);
  }
  #sidebar.open-mobile {
    transform: translateX(0);
  }
  .nav-global-search {
    width: 220px;
  }
}

@media (max-width: 640px) {
  #navbar {
    padding: 0 12px;
  }
  .nav-global-search {
    display: none;
  }
  #content-area {
    padding: 16px;
  }
}
